name: Create and publish a Docker image

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

# if in an org and you want public images, make sure to allow public packages at
# https://github.com/organizations/$org/settings/packages

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # log in to the Container registry registry using the account and password that will publish the packages
      # Once published, the packages are scoped to the account defined here.
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # extract tags and labels that will be applied to the specified image.
      # The `id` "meta" allows the output of this step to be referenced in a subsequent step.
      # The `images` value provides the base name for the tags and labels.
      #
      # this one will tag the default branch(assumed to be develop by the workflow triggers) as "latest"
      # and tag any commits tagged v$MAJOR.$MINOR.$PATCH with
      # * v$MAJOR.$MINOR.$PATCH
      # * v$MAJOR.$MINOR
      # * v$MAJOR
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false # we do latest tag manually
          tags: |
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{raw}} # docker tag with full git tag
            type=semver,pattern=v{{major}} # also do v2
            type=semver,pattern=v{{major}}.{{minor}} # also do v2.0

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
